<div class="new-plane-container">
  <h1>Register your Plane</h1>

  <%= simple_form_for(@plane) do |f| %>
    <%= f.input :model %>
    <%= f.input :pax_capacity, label: "Seat capacity" %>
    <%= f.input :fh_range, label: "Flight Hours" %>
    <%= f.input :fh_price, label: "Flight Hour Price" %>
    <%= f.input :location, collection: ['LHR', 'STN', 'GTW', 'LTN', 'LCY']%>
    <%= f.input :photo, as: :file %>
    <%= f.hidden_field :user_id, value: @plane.user_id %>
    <div class = "text-center">
    <%= f.submit "List Plane", class: "btn btn-primary center" %>
    </div>
  <% end %>
</div>
