<div class="show-image">
  <%= cl_image_tag(@plane.photo.key)%>
</div>

<div class="main-card">
  <div class="description">
    <h2>About this plane</h2>
    Introducing the epitome of sky-bound extravagance and bougie bird-brained transportation – the private jet plane! This luxurious marvel of engineering will make you feel like a posh penguin soaring through the stratosphere. Picture this: a sleek and shiny fuselage, shimmering in the sunlight like a disco ball made of diamonds, designed to leave even the most dazzling peacock green with envy.
    <br>
    <br>
    Step inside this airborne palace, and you'll find yourself in a cabin fit for a penguin prince. Plush, velvet-lined seats await, beckoning you to sink into their feathery embrace. And forget peanuts and pretzels – we're talking about gourmet cuisine served on golden platters by impeccably dressed flight attendants. They glide through the cabin like balletic flamingos, ensuring your every whim is met, from caviar cravings to bespoke bubble baths.
  </div>
  <div class="specs">
    <p class="card-header">Specification</p>
    <p>Passenger Capacity: <%= @plane.pax_capacity %></p>
    <p>Flight Range: <%= @plane.fh_range %> hours</p>
    <p>Current Location: <%= @plane.location %></p>
    <p>Flight Hour Price: £<%= @plane.fh_price %></p>
  </div>
  <div class="book-now">
    <p class="card-header">Book now!</p>
    <%= render "shared/form", booking: @booking, plane: @plane %>
  </div>


</div>

<div class = "reviews-card card">
  <p class = "card-header text-center"><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @plane_reviews.each do |booking| %>
    <% unless booking.review.nil? %>
      <li class="list-group-item text-center">
        <p>"<%= booking.review.content %>"<p>
        <p><% booking.review.rating.to_i.times do %>
        ⭐️
        <%end%></p>
        <p> <%= booking.user.first_name %> </p>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
