<h1><%= current_user.first_name.capitalize %>'s Listings</h1>


<div class="container">
  <% @planes.each do |plane| %>
    <div class="user-plane">
      <div class="picture-card">
        <%= cl_image_tag(plane.photo.key, width: 400, height: 240, crop: :fill) %>
      </div>
      <div class="specs">
        <span>
          <i class="fa-solid fa-users"></i>
          <h5><strong> <%= plane.pax_capacity %> seats</strong></h5>
        </span>
        <span>
          <i class="fa-solid fa-plane"></i>
          <h5> <%= plane.fh_range.to_i %> hrs</h5>
        </span>
      </div>
      <div class="buttons">
        <%= link_to "Edit", edit_plane_path(plane)%>
        <%= link_to "Delete", listings_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  <% end %>
</div>
