<h1>Your bookings index</h1>

<% @bookings.each do |booking| %>
<p>Booking reference: <%= booking.id %></p>
<p> Cost: £<%= booking.total_price %></p>
<p> Date: <%= booking.date %> </p>
<%= link_to 'Edit', edit_plane_booking_path(booking.plane.id, booking.id) %>
<%= link_to "Cancel this booking",
  booking_path(booking),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
