<div class='booking-title'>
  <h1><%= current_user.first_name %>'s Bookings</h1>
</div>

<% my_bookings = @bookings.select { |booking| booking.user_id == current_user.id} %>
<% if my_bookings.empty? %>
<br>
<h5 class="text-center">You've not made any bookings yet!</h5>
<% else %>

<div class="booking-container">
  <% my_bookings.each do |booking| %>
    <div class="booking-cards">
      <div class="card-top">
        <div class="booking-card-confirmed">
          <p class="confirmed">Confirmed booking</p>
        </div>
        <div class="booking-card">
          <div class="booking-details">
            <p>Booking reference: <%= booking.id %></p>
            <p>Flight duration: <%= booking.total_hours %> hours</p>
            <p>Date: <%= booking.date %></p>
            <p>Cost: <%= number_to_currency(booking.total_price, :unit => "£") %></p>
          </div>
        </div>
      </div>

      <div class="booking-links">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Review
        </button>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
          Edit
        </button>
        <%= link_to "Cancel", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-secondary" %>
      </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Review</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h2>New Review</h2>
            <%= simple_form_for [booking, @review] do |f| %>
              <%= f.input :content %>
              <%= f.input :rating, collection: 1..5 %>
              <%= f.submit "Submit review", class: "btn btn-primary" %>
            <% end %>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Booking</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h1>Edit Booking <%= booking.id %></h1>
            <%= render "shared/form", booking: booking, plane: booking.plane %>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<% end %>
