<div class='booking-title'>
  <h1><%= current_user.first_name %> bookings</h1>
</div>

<% my_bookings = @bookings.select { |booking| booking.user_id == current_user.id} %>
<% if my_bookings.empty? %>
<br>
<h5 class="text-center">You've not made any bookings yet!</h5>
<% else %>

<div class="booking-container">
  <% my_bookings.each do |booking| %>
    <div class="booking-cards">
      <div class="card-top">
        <div class="booking-card-confirmed">
          <p class="confirmed">Confirmed booking</p>
        </div>
        <div class="booking-card">
          <div class="booking-details">
            <p>Booking reference: <%= booking.id %></p>
            <p>Hours: <%= booking.total_hours %> hours</p>
            <p>Date: <%= booking.date %></p>
            <p>Cost: <%= number_to_currency(booking.total_price, :unit => "£") %></p>
          </div>
        </div>
      </div>

      <div class="booking-links">
        <%= link_to 'Review', edit_plane_booking_path(booking.plane.id, booking.id), class: "btn btn-primary"  %>
        <%= link_to 'Modify', edit_plane_booking_path(booking.plane.id, booking.id), class: "btn btn-primary"  %>
        <%= link_to "Cancel it!", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>

<% end %>
