<% if user_signed_in? %>
  <div class="navbar">
    <div class="home-button">
      <%= link_to root_path do %>
        <i class="fa-solid fa-plane-departure"></i>
        <p>Home</p>
      <% end %>
    </div>
    <div class="dropdown">
      <div class="login-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-user"></i>
        <p><%= current_user.first_name.capitalize %></p>
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Your bookings", bookings_path, class: "dropdown-item"%>
        <%= link_to "Your listings", root_path, class: "dropdown-item"%>
        <%= link_to "Profile", root_path, class: "dropdown-item"%>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item"%>
      </div>
    </div>
  </div>
<% else %>
  <div class="navbar">
    <div class="home-button">
      <%= link_to root_path do %>
        <i class="fa-solid fa-plane-departure"></i>
        <p>Home</p>
      <% end %>
    </div>
    <div>
      <%= link_to new_user_session_path do %>
        <button type="button" class="btn btn-outline-light mr-5">Login</button>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-outline-light mr-2">Sign up</button>
      <% end %>
    </div>
  </div>
<% end %>
