<h1>Ready Jet Go</h1>
<p>Your Jet, Your Journey - Ready Jet Go</p>

<%= link_to "Browse our selection of jets", planes_path %>

<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}%>
<% else %>
  <br>
  <%= link_to "Login", new_user_session_path %>
  <br>
  <%= link_to "Sign up", new_user_registration_path %>

  <%= form_tag planes_path, method: :get do %>
  <%= label_tag :date, "Select a Date" %>
  <%= date_field_tag :date, value: params[:date] %>

  <%= submit_tag "Show me available planes" %>
<% end %>

<% end %>
